<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Полная карточка товара</title>
  <link href="../static/css/styles.min.css" rel="stylesheet">
</head>

<body>
  <header class="container header">
    <div class="header__wrapper">
      <a href="/" class="header__logo-link">Яблочная лавка</a>
      <nav class="header__nav">
        <ul class="header__menu">
          <li class="header__menu-item"><a href="/" class="header__menu-link">Главная</a></li>
          <li class="header__menu-item"><a href="/search" class="header__menu-link">Поиск</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main class="container">
    <section class="item-card">
      {% for ent in entities %}
      <h1 class="item-card__title title">{{ ent.name }}</h1>
      <div class="item-card__card">
        <div class="item-card__img-wrapper">
          <img src="../static/{{ ent.img }}" srcset="../static/{{ ent.img_set }}" alt="" class="item-card__img" />
        </div>
        <p class="item-card__info">{{ ent.name }}</p>
        <p class="item__descr">{{ ent.cpu }} {{ ent.ram }} {{ ent.video }}</p>
        <p class="item-card__info">{{ ent.price }}</p>
      </div>
      {% endfor %}
    </section>
  </main>
</body>

</html>